body {
    background-image: url(jett.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: rgba(0, 0, 0, 0.5); /* Opacity 50% dengan rgba(0, 0, 0, 0.5) */
    width: calc(25% - 20px); /* Sesuaikan sesuai kebutuhan untuk membuat ruang antara kolom */
    margin-bottom: 20px;
}

.img-card img {
    max-width: 10%;
    height: auto;
}

.content-text {
    text-align: center;
}

.content-text {
    text-align: center;
}
.img {
    width:100%;
    margin: 10px;
}

.harga {
    color: rgb(235, 31, 31);
}

.user {
    color: grey;
}

.btn-block {
    width: 100%;
    background-color:rgb(235, 31, 31) ;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.btn-block:hover {
    background-color: white;
    border-style: solid;
    color: rgb(235, 31, 31);
}

.btn-order {
    color:white;
    text-decoration: none;
}

.btn-order:hover {
    color: rgb(235, 31, 31);
    transition: 0,4s;
}

.btn-details {
    color: white;
    text-decoration: none;
}

.btn-details:hover {
    color:rgb(235, 31, 31);
    transition: 0,4s; 
}